.newMessege {
    display: flex;

    .messege {
        width: 35%;
        border-radius: 10px;
        padding: 5px;
        margin: 10px 0px;

        .messege-header {
            font-size: xx-small;
            margin-bottom: 4px;
            padding-bottom: 4px;
            border-bottom: 1px solid #4e4d4d;
        }

        .messege-main {
            margin: 8px 0px;
            font-weight: 700;
        }

        .messege-bottom {
            font-size: xx-small;
            margin-top: 4px;
            padding-top: 4px;
            border-top: 1px solid #4e4d4d;
        }
    }
}



.newMessegeMy {
    justify-content: end;

    .messege {
        background-color: #999;
        color: #000;
    }
}

.newMessegeOther {
    justify-content: start;

    .messege {
        background-color: #333;
    }
}

.scroll-custom {

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #a5a5a5;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #030a2d;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #030a2d;
    }
}